    // @import '~@/assets/css/base.styl'

// 绿色配白色、米色、黑色、暗紫色、灰褐色、灰棕色
$green = #b6e027
$yellow = #fffbdb


// 省略号...
no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

// 图标的统一写法
my-ico()
  display inline-block
  width .18rem
  height .18rem
  background-size 100% auto
  background-position center center
  background-repeat no-repeat